services:
  redpanda:
    image: redpandadata/redpanda:latest
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --node-id 0
      - --check=false
      - --kafka-addr PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"

    healthcheck:
      test: ["CMD-SHELL", "rpk cluster health | grep -q 'Healthy' || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 5s

  app:
    build: .
    environment:
      REDPANDA_STRING_URL: "${REDPANDA_STRING_URL}"
    depends_on:
      redpanda:
        condition: service_healthy
    expose:
      - "8080"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8080/healthz"]
      interval: 60s
      timeout: 3s
      retries: 2
      start_period: 5s

  worker:
    build: .
    entrypoint: ["/app/worker/worker"]
    environment:
      REDPANDA_STRING_URL: "${REDPANDA_STRING_URL}"
    depends_on:
      redpanda:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      app:
        condition: service_healthy
